src/Node-red
[{"id":"a11258de.9cf158","type":"tab","label":"Flow 1"},{"id":"4fa03b9a.eaa8b4","type":"ui_gauge","z":"a11258de.9cf158","name":"","group":"b3f3e4e7.df3f18","order":0,"width":0,"height":0,"gtype":"donut","title":"Consumo","label":"KWh","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":422,"y":513,"wires":[]},{"id":"5610c020.fdedd","type":"function","z":"a11258de.9cf158","name":"Custo KWh","func":"var newMsg = { payload: msg.payload*0.5 };\nreturn newMsg;","outputs":1,"noerr":0,"x":434,"y":463,"wires":[["5809f849.ff2ff8"]]},{"id":"5809f849.ff2ff8","type":"ui_text","z":"a11258de.9cf158","group":"b3f3e4e7.df3f18","order":0,"width":"0","height":"0","name":"","label":"Custo atual (R$):        ","format":"{{msg.payload}}","layout":"row-left","x":656,"y":463,"wires":[]},{"id":"9f98aed8.4ab91","type":"ui_chart","z":"a11258de.9cf158","name":"","group":"b3f3e4e7.df3f18","order":0,"width":0,"height":0,"label":"KWh","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"Aguardando dados...","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":558,"y":262,"wires":[[],[]]},{"id":"4d05ac93.3ddad4","type":"json","z":"a11258de.9cf158","name":"","pretty":true,"x":348,"y":262,"wires":[["9f98aed8.4ab91"]]},{"id":"9a40d824.92f598","type":"ui_button","z":"a11258de.9cf158","name":"","group":"50dcd4a5.87433c","order":0,"width":0,"height":0,"passthru":false,"label":"ZERAR","color":"","bgcolor":"","icon":"replay","payload":"[]","payloadType":"str","topic":"","x":93,"y":262,"wires":[["4d05ac93.3ddad4","9af5f65f.d068b8"]]},{"id":"db068d70.bff0f","type":"mqtt in","z":"a11258de.9cf158","name":"","topic":"set_lum","qos":"2","broker":"3f667df5.f76682","x":85,"y":418,"wires":[["35e0286.3ccddd8"]]},{"id":"35e0286.3ccddd8","type":"function","z":"a11258de.9cf158","name":"Split","func":"var output = msg.payload.split(\"n\");\n\npulsos = {payload:parseInt(output[0])};\npulso_alto = {payload:parseInt(output[1])};\npulso_alto_max = {payload:parseInt(output[2])};\n\nreturn [pulsos, pulso_alto, pulso_alto_max];","outputs":"3","noerr":0,"x":140,"y":553,"wires":[["4fa03b9a.eaa8b4","5610c020.fdedd","9f98aed8.4ab91"],["3d925f48.e8902"],["50ec85a0.e8108c"]],"outputLabels":["pulsos","pulso_alto","pulso_alto_max"]},{"id":"3d925f48.e8902","type":"ui_text","z":"a11258de.9cf158","group":"50dcd4a5.87433c","order":0,"width":0,"height":0,"name":"","label":"Opto min:  ","format":"{{msg.payload}}","layout":"row-center","x":422,"y":556,"wires":[]},{"id":"ff6994df.9d19a8","type":"debug","z":"a11258de.9cf158","name":"1","active":true,"console":"true","complete":"payload","x":698.5,"y":673,"wires":[]},{"id":"fd468058.ebea3","type":"debug","z":"a11258de.9cf158","name":"2","active":true,"console":"false","complete":"payload","x":694,"y":615,"wires":[]},{"id":"50ec85a0.e8108c","type":"ui_text","z":"a11258de.9cf158","group":"50dcd4a5.87433c","order":0,"width":0,"height":0,"name":"","label":"Opto máx:  ","format":"{{msg.payload}}","layout":"row-center","x":434,"y":609,"wires":[]},{"id":"9af5f65f.d068b8","type":"mqtt out","z":"a11258de.9cf158","name":"","topic":"input","qos":"2","retain":"false","broker":"3f667df5.f76682","x":555,"y":324,"wires":[]},{"id":"b3f3e4e7.df3f18","type":"ui_group","z":"","name":"Medições","tab":"d18de5cf.e1a6f8","disp":false,"width":"6"},{"id":"50dcd4a5.87433c","type":"ui_group","z":"","name":"Setup","tab":"2f3728bc.321858","disp":true,"width":"6"},{"id":"3f667df5.f76682","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d18de5cf.e1a6f8","type":"ui_tab","z":"","name":"Medidor","icon":"dashboard"},{"id":"2f3728bc.321858","type":"ui_tab","z":"","name":"Setup","icon":"dashboard"}]
